body { 
    /* background-image: url(./../images/bg.jpg); */
    background-color: rgb(245, 245, 186);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    overflow: auto;
    z-index: -1px; 
   
    
  }
   .mylines{
    background-repeat: no-repeat, repeat;
    margin: auto;
    background-color: rgb(184, 97, 97);
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%;
    overflow: auto;
    z-index: -1px; 
    width: 700px;
    float: left;
    height: 400px;
    padding: 20px;
    margin: 20px;
  }

  .jim{margin:10px;}
 
 h1 {
  
    font-weight: bold;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 30px;
    text-align: center;
  
    color: black;
   
  }
  h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;

  }
  
    img {
      width: 100px;
      height: 100px;
      padding: 10px;
    }
 
   
  
    
  